@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		font-family: Roboto, sans-serif;
	}
}

:root {
	--post-image-height: 74px;
	--post-image-width: 118px;
}

.post-image {
	width: var(--post-image-width);
	height: var(--post-image-height);
}

.search {
	fill: rgb(131, 131, 131);
}

.prose > h3:first-of-type {
	margin-top: 24px;
}

.prose img {
	margin: auto;
}

.react-rotating-text-cursor {
	animation: blinking-cursor 0.8s cubic-bezier(0.68, 0.01, 0.01, 0.99) 0s
		infinite;
}

@keyframes blinking-cursor {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
